/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
    min-height: 100vh;
    background-color: #c0c0c0;
    max-width: 100%;
    overflow-x: hidden;
}

.bottom-border-radius-round {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.top-border-radius-round {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}